<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>-->

<head th:replace="fragments :: head"></head>
<!--<nav th:replace="fragments :: navigation"></nav>-->

<body>

<header th:replace="fragments :: header"></header>
<!--<title th:replace="fragments :: title"></title>-->
<!--<title>Title</title>-->
<nav>
    <p><a href="hiThere">Home</a></p>
</nav>

<h1>Let's Get Registered!</h1>
<form class="letsGetAligned" method="post" th:object="${seniorProperty}" style="max-width:600px;">
    <div class="form-group">
        <label th:for="companyName">Company Name</label>
        <input class="form-control" th:field="*{companyName}" />
        <div class="error" th:errors="*{companyName}"></div>
    </div>
    <div class="form-group">
        <label th:for="password">E-mail</label>
        <input class="form-control" th:field="*{email}" />
        <div class="error" th:errors="*{email}"></div>
    </div>
    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control" th:field="*{username}" />
        <div class="error" th:errors="*{username}"></div>
    </div>

        <div class="form-group">
            <label th:for="password">Password</label>
            <input class="form-control" th:field="*{password}" />
            <div class="error" th:errors="*{password}"></div>
        </div>
    <div class="form-group">
        <label th:for="verify">Verify</label>
        <input class="form-control" th:field="*{verifyPassword}"/>
        <div class="error" th:text="${verifyError}" th:field="*{verifyPassword}"></div>
    </div>
    <div class="form-group">
        <label th:for="address">Address</label>
        <input class="form-control" th:field="*{address}" />
        <div class="error" th:errors="*{address}"></div>
    </div>
    <div class="form-group">
        <label th:for="zipCode">Zip Code</label>
        <input class="form-control" th:field="*{zipCode}" />
        <div class="error" th:errors="*{zipCode}"></div>
    </div>
    <div class="form-group">
        <label th:for="Question1">What type of business or organization are you?</label>
        <select name="inquiry1Id">
            <option th:each="inquiry : ${Question1}"
                    th:text="${inquiry.theAnswer1}"
                    th:value="${inquiry.inquiry1Id}"></option>
        </select>

    </div>
    <div class="form-group">
        <label th:for="Question2">Where did you hear about us?</label>
        <select name="inquiry2Id">
            <option th:each="inquiry : ${Question2}"
                    th:text="${inquiry.theAnswer2}"
                    th:value="${inquiry.inquiry2Id}"></option>
        </select>
    </div>


    <input type="submit" value="Let's Register!">

</form>


<footer th:replace="fragments :: footer"></footer>
</body>
</html>
