<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>-->
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>
<!--<title th:replace="fragments :: title"></title>-->
<title>Title</title>
<nav>
    <p><a href="hiThere">Home</a></p>
</nav>

<h1 th:text="${title}">Default Title</h1>


<p th:unless="${timeSlots} and ${timeSlots.size()}">No Available Time Slots</p>
<!--<p th:unless="${timeSlots}}">No Available Time Slots</p>-->


<nav th:fragments="navigation">
    <a id="bottomButton" href="addTimeSlots">Add Time Slots</a>
</nav>

<table class="table">
    <tr>
        <th>Date</th>
        <th>Time</th>
    </tr>

    <tr th:each="timeSlot : ${timeSlots}">
        <td th:text="${timeSlot.date}"></td>
        <td th:text="${timeSlot.time}"></td>
    </tr>
</table>
</body>
</html>