<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
</head>
<body class="container">

<p><a href="option1">Senior Representative</a></p>
<p><a href="option2">Volunteer</a></p>

<!--<p><a th:href="@{/welcoming/seniors/option2}">Senior Representative</a></p>
<p><a th:href="@{/welcoming/volunteers/option2}">Volunteer</a></p>-->

</body>
</html>








<!--

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
&lt;!&ndash;    <meta charset="UTF-8"/>
    <title>Title</title>&ndash;&gt;
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Default Title</h1>


<ul th:each="menu : ${menus}">
    <li>
        <a th:href="'/menu/view/' + ${menu.id}" th:text="${menu.name}"></a>
    </li>
</ul>

<a href="/menu/add/">Add a Menu</a>-->
