<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>-->
<head th:replace="fragments :: head"></head>
<body>


<header th:replace="fragments :: header"></header>
<!--<title th:replace="fragments :: title"></title>-->
<!--<title>Title</title>-->
<div class="container">
<nav>
    <p><a href="/hiThere">Home</a></p>
</nav>

    <h1 th:text="${title}">Default Title</h1>

<form class="letsGetAligned" method="POST" th:object="${seniorProperties}">  <!--th:action="@{login}"-->
    <label th:for="username">Username</label>;
    <input type="text" th:field="*{username}" autofocus="autofocus" /> <br />
    <label th:for="password">Password</label>;
    <input type="password" th:field="*{password}" /> <br />
    <input type="submit" value="Log in" />
</form>


<footer th:replace="fragments :: footer"></footer>

</div>

</body>
</html>